In [11]:
import pandas as pd
import sqlite3

# Connect sql database

In [17]:
name_bd = '../checking-logs.sqlite.sqlite_copy'
sqlite_connection = sqlite3.connect(name_bd)
pd.io.sql.read_sql('PRAGMA table_info(pageviews);', sqlite_connection)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

# Get first 10 lines

In [22]:
pd.io.sql.read_sql("select * from pageviews LIMIT 10", sqlite_connection)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

In [35]:
pd.io.sql.read_sql("SELECT uid, datetime FROM pageviews WHERE uid LIKE 'user_%' AND uid NOT LIKE '%admin%' ORDER BY uid ASC", sqlite_connection)

         uid                    datetime
0     user_1  2020-04-26 21:53:59.624136
1     user_1  2020-04-26 22:06:19.478143
2     user_1  2020-04-26 22:12:09.614497
3     user_1  2020-04-30 19:29:01.831635
4     user_1  2020-05-05 20:26:32.894852
..       ...                         ...
982  user_30  2020-04-29 16:51:21.877630
983  user_30  2020-05-09 20:30:47.034282
984   user_5  2020-05-22 11:30:18.368990
985   user_9  2020-05-21 16:28:28.217529
986   user_9  2020-05-21 16:36:40.915488

[987 rows x 2 columns]

In [39]:
pageviews = pd.io.sql.read_sql("SELECT uid, datetime \
                   FROM pageviews WHERE uid LIKE 'user_%' \
                   ORDER BY uid ASC", sqlite_connection,
                  index_col='datetime', parse_dates=['datetime'])
pageviews

                                uid
datetime
2020-04-26 21:53:59.624136   user_1
2020-04-26 22:06:19.478143   user_1
2020-04-26 22:12:09.614497   user_1
2020-04-30 19:29:01.831635   user_1
2020-05-05 20:26:32.894852   user_1
...                             ...
2020-04-29 16:51:21.877630  user_30
2020-05-09 20:30:47.034282  user_30
2020-05-22 11:30:18.368990   user_5
2020-05-21 16:28:28.217529   user_9
2020-05-21 16:36:40.915488   user_9

[987 rows x 1 columns]

In [41]:
sqlite_connection.close()